<div class="hero-video-container mb-14 -m-[40px] relative">
  <video
    loop
    autoplay
    preload="auto"
    class="w-full h-[68vh] object-cover brightness-75">
    <source src="assets/videos/gallery-hero.mp4" type="video/mp4">
  </video>
  <div class="absolute bottom-2/4	w-full text-center">
    <h1 class="text-6xl text-white font-bold mb-10 hero-text">Welcome to The Met</h1>
    <a href="https://www.metmuseum.org/visit/plan-your-visit" class="visit-btn mt-5 text-2xl">
      Plan your visit
    </a>
  </div>
</div>
