<div class="artefact-container">
    <mat-card class="hover:shadow-lg transition-shadow">
      <img mat-card-image
           class="object-cover h-[250px]"
           src="{{artefact.primaryImageSmall}}" alt="{{artefact.title}}">
      <mat-card-content>
        <div class="artefact-info cursor-pointer mt-3 overflow-hidden"
             (click)="navigateToMuseum()">
          <h3 class="font-medium text-xl">{{artefact.title}}</h3>
          <p>{{artefact.artistDisplayName}}</p>
          <p>{{artefact.objectDate}}</p>
        </div>
      </mat-card-content>
    </mat-card>
</div>
